[SddmGreeterTheme]
Name=CIP-Theme
Description=CIP-Theme
Author=Thomas Preisner and Milan Stephan
Copyright=(c) 2013, Abdurrahman AVCI, (c) 2017, Thomas Preisner, (c) 2017, Milan Stephan
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/preisi/cip-theme
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=thomas.preisner@fau.de, milan.stephan@fau.de
Theme-Id=cip-theme
Theme-API=${COMPONENTS_VERSION}
FormResetSupport=true
AdminInfoSupport=true